﻿@using ima9ines.Nop.NewProducts.Web.Models
@using Nop.Web.Models.Catalog
@model DisplayWidgetModel
@{
    string theme = Model.Theme;

    IEnumerable<ProductOverviewModel> products = Model.Items;
}
@if (products.Count() > 0)
{
    <div class="gridMarger">
        <div class="product-grid new-products-grid ima9ines-nop__new-products">
            @*<div class="title">
                <strong>@T("ima9ines.Nop.NewProducts.Heading")</strong>
            </div>*@
            <div class="item-grid">
                @foreach (var item in products)
            {
                    <div class="item-box">
                        @Html.Partial("_ProductBox", item)
                    </div>
            }
            </div>
        </div>
        </div>
        }
