﻿@using Nop.Core;
@using Nop.Core.Infrastructure
@using Nop.Web.Framework.Themes
@using Nop.Web.Framework.UI
@using System.Web.Optimization;
@{
    var supportRtl = EngineContext.Current.Resolve<IWorkContext>().WorkingLanguage.Rtl;
    var themeName = EngineContext.Current.Resolve<IThemeContext>().WorkingThemeName;

    //add browser specific CSS files
    var browser = Request.Browser;
    if (browser.Browser == "IE" && browser.MajorVersion == 8)
    {
        Html.AppendCssFileParts(string.Format("~/Themes/{0}/Content/css/ie8.css", themeName));
    }
    //add main CSS file
    if (supportRtl)
    {
        Html.AppendCssFileParts(string.Format("~/Themes/{0}/Content/css/styles.rtl.css", themeName));
    }
    else
    {
        Html.AppendCssFileParts(string.Format("~/Themes/{0}/Content/css/styles.css", themeName));
    }

    //load default green color
    //Html.AppendCssFileParts(string.Format("~/Themes/{0}/Content/css/colors/green.css", themeName));
  	Html.AppendCssFileParts(string.Format("~/Themes/{0}/Content/css/colors/orange.css", themeName));

    //other colors
    //Html.AppendCssFileParts(string.Format("~/Themes/{0}/Content/css/colors/lightblue.css", themeName));
    //Html.AppendCssFileParts(string.Format("~/Themes/{0}/Content/css/colors/purple.css", themeName));
    //Html.AppendCssFileParts(string.Format("~/Themes/{0}/Content/css/colors/red.css", themeName));
    //Html.AppendCssFileParts(string.Format("~/Themes/{0}/Content/css/colors/blue.css", themeName));
    //Html.AppendCssFileParts(string.Format("~/Themes/{0}/Content/css/colors/orange.css", themeName));
    //Html.AppendCssFileParts(string.Format("~/Themes/{0}/Content/css/colors/yellow.css", themeName));
    //Html.AppendCssFileParts(string.Format("~/Themes/{0}/Content/css/colors/gray.css", themeName));
    //Html.AppendCssFileParts(string.Format("~/Themes/{0}/Content/css/colors/bluegray.css", themeName));
    //Html.AppendCssFileParts(string.Format("~/Themes/{0}/Content/css/colors/blackwhite.css", themeName));

    Html.AppendCssFileParts(string.Format("~/Themes/{0}/Content/css/materialize.css", themeName));
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    //add jQuery UI css file
    Html.AppendCssFileParts("~/Content/jquery-ui-themes/smoothness/jquery-ui-1.10.3.custom.min.css");

    if (browser.Browser == "IE" && browser.MajorVersion == 8)
    {
        Html.AddScriptParts("~/Scripts/selectivizr.min.js");
        Html.AddScriptParts("~/Scripts/respond.min.js");
    }
}