﻿@using ima9ines.Nop.Admin.Models
@using ima9ines.Nop.Core.Plugins
@using ima9ines.Nop.CorePlugin
@using Nop.Core.Domain.Common
@using Nop.Core.Infrastructure
@{
    Layout = "_PluginAdminLayout.Individual".GetAdminViewFor();

    IEngine engineContext = EngineContext.Current;

    int defaultGridPageSize = engineContext.Resolve<AdminAreaSettings>().DefaultGridPageSize;
    string gridPageSizes = engineContext.Resolve<AdminAreaSettings>().GridPageSizes;

    AboutThisPlugin aboutPluginModel = new AboutThisPlugin(typeof(Plugin), true);
}
@section leftpane{ @Html.Partial("_AboutThisPlugin.Logo".GetAdminViewFor(), aboutPluginModel) }
@section rightpane{ @Html.Partial("_AboutThisPlugin.Info.ListGroup".GetAdminViewFor(), aboutPluginModel) }
<div class="panel panel-default ima9ines-nop-plugin__settings">
    <div class="panel-heading">
        <h3 class="panel-title">@T("ima9ines.Nop.WidgetZones")</h3>
    </div>
    <div class="panel-body">
        <div id="widget-zones-grid"></div>
        <script>
            $(document).ready(function () {
                $("#widget-zones-grid").kendoGrid({
                    dataSource: {
                        type: "json",
                        transport: {
                            read: {
                                url: "@Html.Raw(Url.Action("WidgetZones", "WidgetZone"))",
                                type: "POST",
                                dataType: "json"
                            },
                            create: {
                                url: "@Html.Raw(Url.Action("WidgetZoneAdd", "WidgetZone"))",
                                type: "POST",
                                dataType: "json"
                            },
                            update: {
                                url:"@Html.Raw(Url.Action("WidgetZoneUpdate", "WidgetZone"))",
                                type: "POST",
                                dataType: "json"
                            },
                            destroy: {
                                url: "@Html.Raw(Url.Action("WidgetZoneDelete", "WidgetZone"))",
                                type: "POST",
                                dataType: "json"
                            }
                        },
                        schema: {
                            data: "Data",
                            total: "Total",
                            errors: "Errors",
                            model: {
                                id: "Id",
                                fields: {
                                    Name: { editable: true, type: "string" },
                                    Id: { editable: false, type: "number" }
                                }
                            }
                        },
                        requestEnd: function (e) {
                            if (e.type == "create" || e.type == "update") {
                                this.read();
                            }
                        },
                        error: function (e) {
                            display_kendoui_grid_error(e);
                            // Cancel the changes
                            this.cancelChanges();
                        },
                        pageSize: @(defaultGridPageSize),
                        serverPaging: true,
                        serverFiltering: true,
                        serverSorting: true
                    },
                    pageable: {
                        refresh: true,
                        pageSizes: [@(gridPageSizes)]
                    },
                    toolbar: ["create"],
                    editable: {
                        confirmation: false,
                        mode: "inline"
                    },
                    scrollable: false,
                    columns: [{
                        field: "Name",
                        title: "@T("ima9ines.Nop.WidgetZone.Name")",
                        width: 300
                    }, {
                        command: [{
                            name: "edit",
                            text: "@T("Admin.Common.Edit")"
                        }, {
                            name: "destroy",
                            text: "@T("Admin.Common.Delete")"
                        }],
                        width: 200
                    }]
                });
            });
        </script>
    </div>
</div>