﻿@using ima9ines.Nop.Admin.Models
@model AboutThisPlugin
@{
    string rateUrl = string.Empty;
    string suggestFeaturesUrl = string.Empty;
    string helpUrl = string.Empty;
    string reportBugsUrl = string.Empty;

    if (Model != null)
    {
        rateUrl = Model.RateUri;
        suggestFeaturesUrl = Model.SuggestFeaturesUri;
        helpUrl = Model.HelpUri;
        reportBugsUrl = Model.ReportBugsUri;
    }
}
<ul class="list-group ima9ines-nop-plugin__pluginInfo">
    @if (Model.IsFreePlugin)
    {
        <li class="list-group-item">
            <form id="paypal-donate-form" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                <input type="hidden" name="cmd" value="_s-xclick" />
                <input type="hidden" name="hosted_button_id" value="FKKLQVFZWKJYY" />
                <a href="#" id="buy-us-a-beer">
                    <span class="ima9ines-icon-beer ima9ines-icon--large ima9ines-icon--background">@T("ima9ines.Nop.BuyUsABeerUrl")</span>
                </a>
            </form>
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#buy-us-a-beer').on('click', function () {
                        $('#paypal-donate-form').submit();
                    });
                });
            </script>
        </li>
    }
    <li class="list-group-item">
        <a href="@rateUrl" target="_blank">
            <span class="ima9ines-icon-star-alt ima9ines-icon--large ima9ines-icon--background">@T("ima9ines.Nop.RateUrl")</span>
        </a>
    </li>
    <li class="list-group-item">
        <a href="@suggestFeaturesUrl" target="_blank">
            <span class="ima9ines-icon-light-bulb ima9ines-icon--large ima9ines-icon--background">@T("ima9ines.Nop.SuggestFeaturesUrl")</span>
        </a>
    </li>
    <li class="list-group-item">
        <a href="@helpUrl" target="_blank">
            <span class="ima9ines-icon-life-buoy ima9ines-icon--large ima9ines-icon--background">@T("ima9ines.Nop.HelpUrl")</span>
        </a>
    </li>
    <li class="list-group-item">
        <a href="@reportBugsUrl" target="_blank">
            <span class="ima9ines-icon-envelope-letter ima9ines-icon--large ima9ines-icon--background">@T("ima9ines.Nop.ReportBugsUrl")</span>
        </a>
    </li>
</ul>