﻿@{
    Layout = "";
}
@model Nop.Plugin.Payments.QuickPayV10.Models.ConfigurationModel
@using Nop.Plugin.Payments.QuickPayV10;
@using System.Web.Mvc.Html;
@using Nop.Web.Framework;

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <table class="adminContent">
        <tr>
            <td colspan="2">
                <b>Opsætning for QuickPay betalingsløsning.</b>
                <br/><br/>

                <b>Valutakode: DKK/EUR/USD/NOK/SEK</b>
                <br/>
                <b>CardTypeID: dankort(Kun dankortaftale) eller creditcard(ved kortaftale)</b>
                <br/>
                <br/>
                <b>Læs mere om opsætning og betingelser hos http://www.quickpay.dk</b>

            </td>
        </tr>
        <tr>
            <td colspan="2" width="100%">
                <hr/>
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.PayWinMerchantID):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.PayWinMerchantID)
                @Html.ValidationMessageFor(model => model.PayWinMerchantID)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.AgreementID):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.AgreementID)
                @Html.ValidationMessageFor(model => model.AgreementID)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.ShopUrl):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.ShopUrl)
                @Html.ValidationMessageFor(model => model.ShopUrl)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.PaymentWindowLanguage):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.PaymentWindowLanguage)
                @Html.ValidationMessageFor(model => model.PaymentWindowLanguage)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.PaymentWindowApiKey):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.PaymentWindowApiKey)
                @Html.ValidationMessageFor(model => model.PaymentWindowApiKey)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.GateWayURL):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.GateWayURL)
                @Html.ValidationMessageFor(model => model.GateWayURL)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CardTypeID):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.CardTypeID)
                @Html.ValidationMessageFor(model => model.CardTypeID)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Currencycode):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.Currencycode)
                @Html.ValidationMessageFor(model => model.Currencycode)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.AdditionalFee):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.AdditionalFee)
                @Html.ValidationMessageFor(model => model.AdditionalFee)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.AdditionalFeePercentage):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.AdditionalFeePercentage)
                @Html.ValidationMessageFor(model => model.AdditionalFeePercentage)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.QuickPayApiKey):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.QuickPayApiKey)
                @Html.ValidationMessageFor(model => model.QuickPayApiKey)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.QuickPayApiURL):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.QuickPayApiURL)
                @Html.ValidationMessageFor(model => model.QuickPayApiURL)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.GoogleAnalyticsClientID):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.GoogleAnalyticsClientID)
                @Html.ValidationMessageFor(model => model.GoogleAnalyticsClientID)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.GoogleAnalyticsTrackingID):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.GoogleAnalyticsTrackingID)
                @Html.ValidationMessageFor(model => model.GoogleAnalyticsTrackingID)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.AutoCapture):
            </td>
            <td class="adminData">
                @*@Html.EditorFor(model => model.AutoCapture, "EnumAutoCapture")*@

                @Html.RadioButtonFor(model => model.AutoCapture, AutoCapture.None)
                @Html.Label(AutoCapture.None.ToString())
                @Html.RadioButtonFor(model => model.AutoCapture, AutoCapture.OnOrderDelivered)
                @Html.Label(AutoCapture.OnOrderDelivered.ToString())
                @Html.RadioButtonFor(model => model.AutoCapture, AutoCapture.OnOrderShipped)
                @Html.Label(AutoCapture.OnOrderShipped.ToString())
                @Html.RadioButtonFor(model => model.AutoCapture, AutoCapture.OnAuthForDownloadableProduct)
                @Html.Label(AutoCapture.OnAuthForDownloadableProduct.ToString())

                @Html.ValidationMessageFor(model => model.AutoCapture)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.LogCallbackPostData):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.LogCallbackPostData)
                @Html.ValidationMessageFor(model => model.LogCallbackPostData)
            </td>
        </tr>

        <tr>
            <td colspan="2" width="100%">
                <button type="submit" name="save" value="save" class="t-button">
                    Save</button>
            </td>
        </tr>
    </table>

    @Html.ActionLink("Ping Service", "Ping", "PaymentQuickPayV10")

}