﻿@{
    Layout = "";
}
@model Nop.Plugin.Payments.QuickPayV10.Models.PaymentInfoModel
@using Nop.Web.Framework;

<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <b>Når du har trykket bekræft til din ordre (næste step) bliver du viderestillet til QuickPay betalingsvindue for at gennemføre betalingen.</b>
        </td>
    </tr>
</table>

